.App {
  max-width: 480px;
  margin: 0 auto;
  width: 100%;
  padding: 0 8px;
  color: #333;
}

.AppHeading {
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  letter-spacing: 4px;
  border-bottom: 1px solid #000;
  margin: 0;
  padding: 16px 0;
}

.InputWrapper {
  display: flex;
  padding: 32px 16px 0;
  flex-wrap: wrap;
}

.InputLabel {
  width: 100%;
  margin-bottom: 8px;
}

.Input {
  border: 1px solid #333;
  font-size: 20px;
  padding: 0 8px;
  flex-grow: 1;
}

.Counter {
  font-size: 32px;
  text-align: center;
}

.Buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Button {
  cursor: pointer;
  border: 1px solid #333;
  padding: 8px 16px;
  font-size: 16px;
  background: transparent;
  margin: 0 16px;
  text-transform: uppercase;
}

.Buttons .Button:last-child {
  flex-grow: 1;
  margin-top: 16px;
}

.Button:hover {
  background: #333;
  color: #fff;
}

.SavedNumbers {
  padding: 0 16px;
}

.SavedNumbers ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.SavedNumbers li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0 8px 16px;
  align-items: center;
  background: #ddd;
}

.SavedNumbers li:nth-child(odd) {
  background: #eee;
}
